button#correct,
button#wrong {
  border-style: solid;
  border-width: 3px;
}

button#correct {
  border-color: rgb(6, 240, 15);
}

button#wrong {
  border-color: red;
}

.game {
  background-color: white;
  min-height: 576px;
}
