#correct,
#wrong {
  border-width: 3px;
  border-style: solid;
}

#correct {
  border-color: rgb(6, 240, 15);
}

#wrong {
  border-color: red;
}

.game {
  background-color: #ffffff;
  min-height: 576px;
}
