.ranking {
  background-color: white;
  max-height: 80vh;
  min-width: 400px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ranking::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}

p {
  margin: 0;
}

.score {
  height: 100%;
}

.list-ranking {
  min-width: 500px;
}
